---
title: Welcome to Middleman
---
<nav class="navigation-bar">
  <ul class="brand-section">
    <li class="brand-name">
      <a href="/" class="menu-trigger" id="trigger">Furatto</a>
    </li>
    <li class="menu-toggle">
      <a href="#">Menu</a>
    </li>
  </ul>
  <ul class="pull-right">
    <li class="divider"></li>
    <li><a href="#">Add-ons</a></li>
    <li class="divider"></li>
    <li><a href="/docs">Docs</a></li>
    <li class="divider"></li>
    <li><a href="#" class="button three-d">Get Started <i class="fa fa-chevron-circle-right"></i></a></li>
  </ul>
</nav>

<a href="#"  data-toggle="tooltip" data-placement="bottom" title="" data-original-title="I'm on the bottom" id="tooltip-toggle2">Tooltip on the bottom</a>
<a href="#" class="button">Button</a>
<a href="#" class="button large">Button</a>



<ul class="pagination">
  <li class="previous"><a href="#">«</a></li>
  <li class="active"><a href="#">1</a></li>
  <li class="disabled"><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><span>6</span></li>
  <li><a href="#">7</a></li>
  <li><a href="#">8</a></li>
  <li><a href="#">9</a></li>
  <li class="next"><a href="#">»</a></li>
</ul>

<ul class="button-group radius">
  <li><a href="#" class="butto success">Button</a></li>
  <li><a href="#" class="button">Button</a></li>
  <li><a href="#" class="button primary">Button</a></li>
</ul>

<div class="alert primary">
  <a href="#" class="close">x</a>
  This is an alert
</div> 

<span class="label">Label</span>

<blockquote>
    <h4>A header</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </blockquote>
